/* * {
  border: 1px solid black;
} */
html,
body {
  margin: 0;
  padding: 0;

  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(131, 58, 180);
  background: -moz-linear-gradient(
    245deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: -webkit-linear-gradient(
    245deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background: linear-gradient(
    245deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}
body h1 {
  text-align: center;
}
.container {
  height: 85%;
  max-width: 90%;
  width: 90%;
  background-color: rgb(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: auto auto;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: row;
}

.addbutton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}
.bookPlus {
  height: 50px;
  width: 50px;
  size: 50px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  align-items: flex-end;
  opacity: 50%;
  filter: invert(100%);
}
.bookPlus:hover {
  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  opacity: 0.2;
}
.bookPlus:active {
  cursor: pointer;
  opacity: 1;
}
.content {
  padding: 20px;
  flex: 15;
  display: flex;
  gap: 10px;
  max-height: auto;
  overflow: auto;
  flex-direction: column;
}
.content div {
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.15);
  /* height: 120px;
  width: 120px; */
  text-align: center;
  font-size: 1em;
  padding: 10px;
}
.content div:hover {
  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  background-color: rgb(255, 255, 255, 0.05);
}
.close-button {
  margin-left: auto;
}

.content div:active {
  cursor: pointer;
  opacity: 1;
}
dialog {
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  border: 1px solid transparent;
  outline: 0;
}
dialog > :nth-child(2) {
  display: block;
  align-items: center;
  justify-content: center;
}
form {
  display: block;
  color: white;
  outline: 0;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
form > input {
  display: flex;
  width: 69%;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  background: rgba(255, 255, 255);
  border: 1px solid transparent;
  margin: 10px;
  outline: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
}
form > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
}
.submit {
  width: 20%;
}
.submit:hover {
  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  opacity: 0.2;
}
.close:active {
  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  opacity: 0.2;
}
.close {
  margin-left: 95%;
  height: 20px;
  width: 20px;
  filter: invert(1);
  outline: 0;
}
.close:hover {
  cursor: pointer;
  transition: opacity 0.1s ease 0s;
  opacity: 0.2;
}
.close:active {
  cursor: pointer;
  opacity: 1;
}
.footer {
  margin-top: auto;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
